#moto {
	display: block;
	background: transparent;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: auto;
}

#moto-text {
	color: azure;
	font-size: 640%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 35px;
	position: relative;
	z-index: 2;
}

#bg-image {
	width: 1400px;
	height: 920px;
	left: 0px;
	top: -65px;
	position: absolute;
	z-index: -1;
}

#web-name {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 25px;
}

.nav-trans {
	margin-left: 20px;
	color: navy;
}

.nav-trans:hover {
	color: aqua;
}

.nav-dark {
	margin-left: 20px;
	color: azure;
}

.nav-dark:hover {
	color: aqua;
}

.panel-row {
	position: relative;
	margin-top: 140px;
}

.panel-img {
	width: 100%;
	opacity: 0.7;
	margin-top: -160px;
	position: relative;
	z-index: -1;
}

.flip-box {
	position: absolute;
	left: 0px;
	background: transparent;
	width: 100%;
	height: 250px;
	perspective: 1000px;
}

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.gre-panel-front {
	background: rgba(3, 40, 250, 0.85);
}

.gre-panel-back {
	background: rgba(3, 40, 250, 0.85);
	transform: rotateY(180deg);
}

.gmat-panel-front {
	background: rgba(0, 217, 255, 0.85);
}

.gmat-panel-back {
	background: rgba(0, 217, 255, 0.85);
	transform: rotateY(180deg);
}

.gate-panel-front {
	background: rgba(101, 189, 18, 0.85);
}

.gate-panel-back {
	background: rgba(101, 189, 18, 0.85);
	transform: rotateY(180deg);
}

.upsc-panel-front {
	background: rgba(216, 219, 48, 0.85);
}

.upsc-panel-back {
	background: rgba(216, 219, 48, 0.85);
	transform: rotateY(180deg);
}

.exam-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.info-page {
	background: rgb(230, 255, 255);
}

.heading {
	color: rgb(51, 51, 51);
	font-weight: 600;
}

.heading-main {
	font-weight: 700;
}

li {
	color: rgb(38, 38, 38);
	font-weight: 600;
}

.img-container {
    position: relative;
    /*width: 50%;*/
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}